body {
    background: rgba(255, 255, 255, 0.8);/*el ultimo parametro es la opacidad del fondo y los cambios que se hacen en body afectan a todos los demas*/
}

#rae {
    font-weight: bolder;
    border: #123456;
}

