table{
    width: 18%;
    font-size: x-large;
}

.mat-column-CDIO{
    border-right: 1px solid currentColor;
    padding-right: 10px;
}

.mat-column-Bloom{
    border-right: 1px solid currentColor;
    padding-left: 5px;
    padding-right: 10px;
}

.mat-column-action{
    padding-left: 5px;
}

h1{
    text-align: center;
}

.centered{
    text-align: center;
}

.function-button {
    margin-left: 8px;
    background-color: rgb(44, 86, 151);
    color: white;
}

.function-button2 {
    margin-left: 8px;
    background-color: rgb(44, 86, 151);
    color: white;
    font-size: small;
    height: 30px;
    width: 20px;
}