<html>
    <h1>
        <label for="course">Curso</label>
        <input id="course"type="number"min=0><br>
        <label for="section">Seccion</label>
        <input id="section"type="number"min=0><br>
        <label for="semester">Semestre</label>
        <input id="semester"type="number"min=0><br>
        <button><a routerLink="/tables" routerLinkActive="active">Buscar</a></button>
        <button id = "report"><a routerLink="/report" routerLinkActive="active">Reportes</a></button>
    </h1>
</html>