label{
    text-align: center;
    color: white;
}
button{
    position:relative;
    left: -20px;
    background-color: #008CBA; 
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin-right: 1px;
}
a{
    text-decoration: none;
}
a,a:visited{
    color: black;
}
button:hover{
    background-color: rgb(180, 180, 180);
    color: black;
    border: 2px solid #476f7cad;
}

select{
    text-align: center;
}
.form_group{
    padding: 20px 0;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_group label{
    color: black;
    margin-right: 10px;
    font-size: x-large;
}
.form_group button{
    margin-left: 50px;
    font-size: small;
}
.form_group input, select{
    height: 20px;
    font-size: medium;
}
.error{
    font-size: larger;
    color: red;
    font-weight: bold;
    text-align: center;
}
.button_group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_group button{
    margin: 0 5px;
}
.ng-valid[required],
.ng-valid.required {
    border: 1px solid #42a948;
    border-radius: 5px;
}
.ng-invalid:not(form) {
    border: 1px solid #a94442;
    border-radius: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}