<div class="container">
    <html>
        <h1>
            <form (ngSubmit)="onSubmit()" #cursoForm="ngForm">
                <div class="form-group">
                    <label for="course">Curso</label>
                    <input 
                        id="course"
                        type="number"
                        min=0
                        required
                        [(ngModel)]="searchedCourse.curso"
                        name="curso"            
                    />
                </div><br>
                <div class="form-group">
                    <label for="section">Sección</label>
                    <input 
                        id="section"
                        type="number"
                        min=0
                        required
                        [(ngModel)]="searchedCourse.seccion"
                        name="seccion"            
                    />
                </div><br>
                <div class="form-group">
                    <label for="section">Semestre</label>
                        <select id="semesterSel" required 
                            [(ngModel)]="searchedCourse.semestre" name="semestre">
                            <option [ngValue]="'2010'">2010</option>
                            <option [ngValue]="'2030'">2030</option>
                            <option [ngValue]="'2110'">2110</option>
                            <option [ngValue]="'2130'">2130</option>
                        </select>
                </div><br>
                <button
                    type="submit"
                    class="btn"
                    [disabled]="!cursoForm.form.valid"
                >
                <a routerLink="/tables" routerLinkActive="active">
                    Buscar</a>
                </button>
                <button id = "report"><a routerLink="/report" routerLinkActive="active">Reportes</a></button>
            </form>            
        </h1>
    </html>
</div>