h1{
    text-align: center
}
label{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 400px;
}
#semester{
    margin-left: 465px;
}
#semesterSel{
    margin-left: 10px;
}
button{
    position:relative;
    left: -20px;
    background-color: #008CBA; 
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    margin-right: 1px;
}
a{
    text-decoration: none;
}
a,a:visited{
    color: black;
}
button:hover{
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input, label, select {
    float:left;
}
select{
    text-align: center;
}
.ng-valid[required],
.ng-valid.required {
  border: 1px solid #42a948;
}

.ng-invalid:not(form) {
  border: 1px solid #a94442;
}
