<html>
    <body>
        <div class="course-header">
            <div class="course-id-name">
                Course: {{courseReview.number + " - " + courseReview.name}}
            </div>
            <div class="course-professor-students">
                Professor:<label id="prof"> {{ courseReview.section.professor }} </label><br><br>
                Class number:<label id="students">  {{ courseReview.section.number }} </label><br><br>
                Students:<label id="semester">  {{ courseReview.section.totalStudents }} </label><br>
            </div>
            <div class="course-semester">
            </div>
        </div>
        <form (ngSubmit)="onSubmit()" #assessToolForm="ngForm">
            <div *ngFor="let rae of courseReview.raes;let i = index">
                <app-rae [rae]="rae" [sectionReview]="sectionReview" [raeNumber]="i"></app-rae>
            </div>
            <h2>{{ error }}</h2>
            <input type="submit" value="Send course review">
        </form>
        <button><a routerLink="/search" routerLinkActive="active">Exit without saving</a></button>
        <button (click)="saveUnfinished()">Save and finish later</button>
    </body>  
</html>