<html>
    <body>
        <div class="course-header">
            <div class="course-id-name">
                Course: {{courseReview.number + " - " + courseReview.name}}
            </div>
            <div class="course-professor-students">
                Professor:<label id="prof"> {{ courseReview.section.professor }} </label><br><br>
                Class number:<label id="students">  {{ courseReview.section.number }} </label><br><br>
                Students:<label id="semester">  {{ courseReview.section.totalStudents }} </label><br>
            </div>
            <div class="course-semester">
            </div>
        </div>
        <br>
        <div>
            <form (ngSubmit)="onSubmit()" #assessToolForm="ngForm">
                <div *ngFor="let rae of courseReview.raes;let i = index">
                    <app-rae [rae]="rae" [sectionReview]="courseReview.sectionReview" [raeNumber]="i"></app-rae>
                </div>
                <div>
                    <app-section-review-comment [sectionReview]="courseReview.sectionReview"></app-section-review-comment>
                </div>
                <h2>{{ error }}</h2>
                <div class="buttons">
                    <button>Send course review</button>
                </div>
            </form>
            <div class="button">
                <button (click)="openDialog(3)">Exit without saving</button>
                <button (click)="saveUnfinished()">Save and finish later</button>
            </div>
        </div>
    </body>  
</html>