<div class="course-header">
    <div class="course-id-name">
        Course: {{course.id + " - " + course.name}}
    </div>
    <div class="course-professor-students">
        Professor:<label id="prof"> {{ course.professor }} </label><br><br>
        Students:<label id="students">  {{ course.students}}</label><br><br>
    </div>
    <div class="course-semester">
        <label id="semester">Semester: 
        <select id="semester">
            <option value="2000">2000</option>
            <option value="2030">2030</option>
            <option value="2110">2110</option>
            <option value="2130">2130</option>
        </select></label>
    </div>
</div>