<h5 *ngFor="let pi of performanceIndicators"> 
    <p id="piDescription">{{pi.description}}</p> 
    <table id="prueba">
        <tr>
            <th>Percentage</th>
            <th>Exemplary</th>
            <th>Competent</th>
            <th>Below</th>
        </tr>
        <tr>
            <td><input type="number" min="0"></td>
            <td><input type="number" onkeypress="return event.charCode >= 48" min="1" ></td>
            <td><input type="number" onkeypress="return event.charCode >= 48" min="1" ></td>
            <td><input type="number" onkeypress="return event.charCode >= 48" min="1" ></td>
        </tr>
    </table>
</h5>
