<p id="piDescription">{{performanceIndicator.description + ": " + performanceIndicator.percentage + "%"}}</p> 
<table id="prueba">
    <tr>
        <th>Exemplary</th>
        <th>Competent</th>
        <th>Below</th>
    </tr>
    <tr>
        <td><input type="number" [(ngModel)]="sectionPI.exemplary" name="exemplary" onkeypress="return event.charCode >= 48" min="1" ></td>
        <td><input type="number" [(ngModel)]="sectionPI.competent" name="competent" onkeypress="return event.charCode >= 48" min="1" ></td>
        <td><input type="number" [(ngModel)]="sectionPI.below" name="below" onkeypress="return event.charCode >= 48" min="1" ></td>
    </tr>
</table>
