<h1>ABET Outcomes</h1>

<table>
    <thead>
        <th>Outcome Id</th>
        <th>Description</th>
        <th>Related CDIOs</th>
        <th>Operation <button (click)="createOutcome()">Add Outcome</button></th>
    </thead>
    <tbody *ngFor="let outcome of outcomes">
        <td class="centered"><!--<input [(ngModel)]="outcome.id" type="number">-->{{ outcome.id }}</td>
        <td>{{ outcome.description }}</td>
        <td class="centered">{{ outcome.cdios }}</td>
        <td><button (click)="updateOutcome(outcome.id)">Edit</button><button (click)="deleteOutcome(outcome.id)">Delete</button></td>
    </tbody>
</table>