table{
    width: 100%;
    font-size: x-large;
}

.mat-column-id{
    border-right: 1px solid currentColor;
    padding-right: 10px;
}

.mat-column-description{
    border-right: 1px solid currentColor;
    padding-right: 10px;
    padding-left: 5px;
}

.mat-column-cdios{
    padding-left: 5px;
    padding-right: 10px;
    border-right: 1px solid currentColor;
}

.mat-column-action{
    padding-left: 5px;
}

.button-container {
    padding-top: 16px;
    padding-left: 20px;
}

.function-button {
    margin-left: 8px;
    background-color: rgb(44, 86, 151);
    color: white;
}

.function-button2 {
    margin-left: 8px;
    background-color: rgb(44, 86, 151);
    color: white;
    font-size: smaller;
    height: 30px;
    width: 20px;
}
  
h1{
    text-align: center;
}

input{
    margin: 0 20px;
    background-color: none;
}

.centered{
    text-align: center;
}
