<h1> 
    <h2>Reporte CDIO 2.1</h2>
    <table id="review">
        <tr>
            <th></th>
            <th>Exemplary</th>
            <th>Competent</th>
            <th>Below</th>
        </tr>
        <tr>
            <td><label for="a">Introducción a la programación</label></td>
            <td><label for="a">34%</label></td>
            <td><label for="a">56%</label></td>
            <td><label for="a">10%</label></td>
        </tr>
        <tr>
            <td><label for="a">Estructuras de datos</label></td>
            <td><label for="a">30%</label></td>
            <td><label for="a">54%</label></td>
            <td><label for="a">16%</label></td>
        </tr>
        <tr>
            <td><label for="a">Computación movil</label></td>
            <td><label for="a">42%</label></td>
            <td><label for="a">57%</label></td>
            <td><label for="a">1%</label></td>
        </tr>
        <tr>
            <td><label for="a">Arquitectura de software</label></td>
            <td><label for="a">24%</label></td>
            <td><label for="a">57%</label></td>
            <td><label for="a">19%</label></td>
        </tr>
        <br><br>
    </table>
    <table id="average">
        <tr>
            <th></th>
            <th>Exemplary</th>
            <th>Competent</th>
            <th>Below</th>
        </tr>
        <tr>
            <td><label for="a">Desempeño promedio</label></td>
            <td><label for="a">32.5%</label></td>
            <td><label for="a">56%</label></td>
            <td><label for="a">11.5%</label></td>
        </tr>
    </table>
    <button><a routerLink="/report" routerLinkActive="active">Regresar</a></button>
</h1>
