button {
    background: #3498db;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #1f628d 3px;
    position: relative;
    left:80%;
}
  
button:hover {
    background: #3cb0fd;
    text-decoration: none;
}