form{
    font-weight: lighter;
    position: relative;
    left: 50px;
}
#piDescription{
    margin-left: 15px;
}
#prueba,th,td{
    border: 1px solid black;
    border-collapse: collapse;    
}
#prueba{
    margin-left: 15px;
}
#prueba input{
    max-width: max-content;
}
th,td{
    padding: 5px;
}
input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

/*Quita las flechas para aumentar o disminuir el numero en los input*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}