<div mat-dialog-content>
    <p>Description</p>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="created.description">
    </mat-form-field>
    <p>CDIOs</p>
    <span *ngFor="let n of options" >
        <mat-checkbox [(ngModel)]="n.select">
            {{n.name+"   "}}
        </mat-checkbox>
    </span>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="onClick()" cdkFocusInitial>Ok</button>
</div>

  
