<h1>Please choose what you want to update</h1>
<select name="crudOption" id="options" [(ngModel)]="selectedOption">
    <option disabled value = "null"></option>
    <option [ngValue]="'outcomes'">Outcomes</option>
    <option [ngValue]="'cdios'">CDIOs</option>
    <option [ngValue]="'courses'">Courses</option>
</select>
<div [hidden]="selectedOption !== 'courses'">
    <label id="course">Choose the course for the report
        <select id="courseReport" [(ngModel)]="courseNumber">
            <option value="null"></option>
            <option [ngValue]="course.number" *ngFor="let course of courses">{{ course.name + " -- " + course.number }}</option>
        </select>
    </label>
</div>
<button (click)="onClick()">Confirm</button>