<html>
    <head>
        <meta charset="utf-8">
            <title>{{title}}</title>
    </head>
    <body>
        <div class="course-header">
            <div class="course-id-name">
                Course: {{courseReview.number + " - " + courseReview.name}}
            </div>
            <div class="course-professor-students">
                Professor:<label id="prof"> {{ courseReview.section.professor }} </label><br><br>
                Class number:<label id="students">  {{ courseReview.section.number }} </label><br><br>
                Students:<label id="semester">  {{ courseReview.section.totalStudents }} </label><br>
            </div>
            <div class="course-semester">
            </div>
        </div>
        <app-rae [raes]= "raes"></app-rae>
        <button><a routerLink="/search" routerLinkActive="active">Regresar</a></button>
        <button><a routerLink="/search" routerLinkActive="active">Enviar</a></button>
    </body>  
</html>